<ion-view view-title="Add User">
  <ion-content class="padding">
    <form ng-submit="" ng-if="userImage">
      <div class="text-center">
        <img ng-src="{{userImage}}" class="image-fit">
      </div>
      <div class="list margin-0">
        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="faceData.name" required>
        </label>
      </div>
      <button class="button button-block button-positive icon-left ion-share" ng-click="shareAccess(faceData)" ng-disabled="!faceData.name"
        type="submit">Share Access</button>
    </form>
    <button class="button button-block button-calm icon-left ion-camera" ng-click="showOptions()">Add Photo</button>
  </ion-content>
</ion-view>
