<ion-view view-title="Electronic Key" class="light-calm-bg">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-refresh" ng-click="getStatus()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-gear-a" ui-sref="tab.lock-setting"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="full-height text-center" ng-click="toggleLock()">
      <div class="big-size">
        <div class="centered">
          <i class="ion ion-{{title}}ed positive-text"></i>
          <p class="positive-text text-uppercase">{{title}} Door</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
