<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-background-light tabs-icon-top tabs-color-active-positive">

  <!-- Users Tab -->
  <ion-tab title="Users" icon="ion-person" ui-sref="tab.users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>

  <!-- Lock Tab -->
  <ion-tab title="Control Lock" icon="ion-locked" ui-sref="tab.lock">
    <ion-nav-view name="tab-lock"></ion-nav-view>
  </ion-tab>

  <!-- Bluetooth Tab -->
  <ion-tab title="Bluetooth" icon="ion-bluetooth" ui-sref="tab.bluetooth">
    <ion-nav-view name="tab-bluetooth"></ion-nav-view>
  </ion-tab>


</ion-tabs>
